#menu {
	background: #000000;
	color: #FFF;
	height: <ya-tr-span data-index="31-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="45" data-translation="45" data-ch="0" data-type="trSpan">45</ya-tr-span>px;
	padding-left: 18px;
	border-radius: <ya-tr-span data-index="33-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="10" data-translation="10" data-ch="0" data-type="trSpan">10</ya-tr-span>px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: NaNpx;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: <ya-tr-span data-index="47-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="16" data-translation="16" data-ch="0" data-type="trSpan">16</ya-tr-span>px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #CC0EAC;
	background: #030000;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: <ya-tr-span data-index="31-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="45" data-translation="45" data-ch="0" data-type="trSpan">45</ya-tr-span>px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: NaNpx;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261";
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #000000;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: <ya-tr-span data-index="62-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="16" data-translation="16" data-ch="0" data-type="trSpan">16</ya-tr-span>px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #000000;
	color: #FF08F7;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

html {
    background-color:black;
}
.container {
    display: flex;
    width: 40%;
    background-color:#A00A68;
    margin-top: 5%;
    margin-left: 30%;
    border: 10%;
    border-radius: 5%;
}
.signup{
	position: relative;
	width: 100%;
	height: 100%;
}
label{
	color: black;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
    margin-top: 5%;
}
input{
	width: 70%;
	height: 30px;
	background: black;
    color: #A00A68;
	justify-content: center;
	display: flex;
	margin: 8% auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 50%;
	height: 40px;
	margin: 5px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: black;
	font-size: 1em;
	font-weight: bold;
	margin-top: 5%;
    margin-bottom: 5%;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
ul{
    display: flex;
}
.errorlist{
    color:white;
    margin-top: 1%;
    margin-left: 8%;
    font-family: monospace;
    font-size: 15px;
    list-style: none;
    
}