<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base/base.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'base/login.css' %}">
    {% endblock css %}
</head>
<body>
{% block content %}
<br>
<div class="container"> 
<div class="signup">
    <form method="post">
        {% csrf_token %}

        <label for="chk" aria-hidden="true">Sign up</label>
        <div class="secret"><input type="text" name="stage" value="registration"></div>
        {% for field in form %}
        {{field}}
        {{field.errors}}
        {% endfor %}
        <div class="message">{{message}}</div>
        <button>Sign up</button>
    </form>
</div>
</div>
{% endblock content %}
</body>
</html>