<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base/base.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'base/login.css' %}">
    {% endblock css %}
</head>
<body>
{% block content %}
<br>
<div class="container">
<div class="signup">
    <form method="post">
        {% csrf_token %}

        <label for="chk" aria-hidden="true">Enter the code</label>
        <div class="secret"><input type="text" name="stage" value="verify"></div>
        <input type="text" name="user_code" placeholder="Code" required="">
        <div class="message">{{message}}</div>
        <div class="secret"><input type="text" name="username" value="{{username}}"></div>


        <button>Send</button>
    </form>
</div>
</div>
{% endblock content %}
</body>
</html>