<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base/base.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'base/login.css' %}">
    <link rel="stylesheet" href="{% static 'catalog/catalog.css' %}">
    {% endblock css %}
</head>
<body>
{% block content %}
<br>
<div class="catalog">
    {% for product, imgs in catalog %}
        <div class="item"> 
            
            <div class="slider-container">
                <div class="menu">
                    {% for img in imgs %}
                    <label for="slide{{img.id}}"></label>
                    {% endfor %}
                </div>
                    <div class="slide" style="background-image: url('{{img.image.url}}');"> </div>
                    {% for img in imgs %}
                    <input id="slide{{img.id}}" type="radio" name="{{product.name}}" checked>
                    <div class="slide" style="background-image: url('{{img.image.url}}');"></div>
                    {% endfor %}
            </div>

            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur asperiores ipsa eos molestias deserunt pariatur et nam, eligendi quo ratione, sapiente animi beatae? Quos cumque exercitationem, tempore reiciendis ad nam!</p>
        </div>
    {% endfor %}
</div>
{% endblock content %}
</body>
</html>